._*
/src/._*
/inc/._*

# Directories
/Debug
/Release
/backup

# Keil Files
/src/crp.c
/src/cr_startup_lpc13xx.c
/src/usbuser.c
/src/usbhw.c
/src/usbdesc.c
/src/usbcore.c
/src/cdcuser.c

# Keil Files
/inc/usbuser.h
/inc/usbreg.h
/inc/usbhw.h
/inc/usbdesc.h
/inc/usbcore.h
/inc/usbcfg.h
/inc/usb.h
/inc/config.h
/inc/cdcuser.h
/inc/cdc.h

# LPCExpresso files
.cproject
.project
.settings

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.bin

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
